@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    --primary-color:white;
    --container-cards: #d9ec9d;
    --text: #0d4c81;
    --footer: #d4cdc5;
    --orYfil:#1F7AC1;
    --text-line-input: #7b7b08;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

/* logo */
.logo{
    display: flex;
    align-items: center;
}

.logo img {

    width: 170px;
    height: 100px;
}

/* navbar */
.topheader {
    display: flex;
    background-color: #eeee108a;
    width: 100%;
    position: sticky;
    z-index: 1;
    left: 0;
    top: 0px;  
}

.topnav {
    display: flex;
}

#nav-title {
    color: var(--primary-color);
    font-family: 'Ceviche One', cursive;
    text-align: center;
    font-size: 50px;
    letter-spacing: 4px;
    word-spacing: 10px;
    position: relative;
    margin-left: 240px;
    line-height: 100px;
    -webkit-text-stroke: 1px ;
    -webkit-text-stroke-color: #7b7b08;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;
      
}

.menu li{
    padding: 0 15px;;
}

.menu a {
    color: #7b7b08;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 100px;
    /* para alinear con respecto a los elementos de mismo contenedor */
    text-transform: uppercase;
}

.menu a:hover {
    color: #c5c2a7;
}

/*Bienvenida a Studio Ghibli*/
.home {
    text-align: center;  
}

.home p{
    font-family:'Montserrat', sans-serif;
    font-size: 35px;
    margin: 20px auto;
    padding: 10px;
    color: #322f3e ;
    font-weight:bold;
}

.home-background {
    background-image: url("img/bienvenidafinal.png");
    background-attachment: fixed;
    background-size: cover;
}

.home-title{
    font-family: 'Ceviche One', cursive;
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
    margin: 0;
    color: white;
    -webkit-text-stroke: 1px ;
    -webkit-text-stroke-color: #322f3e;  
}
 
.totoro{
    margin-top: -10px;
}

/* Sección 2 ordenar films */

.films {
    display: none;
    background-image: url("img/fondo2.jpg");
    background-attachment: fixed;
    background-size: cover;
}

#inputs-container {
    display: flex;
    flex-direction: row;
    color: var(--text-line-input);
    font-size: 23px;
}

.order, .search-input {
    font-weight: bold;
    padding: 20px;
    margin-left: 200px;
    font-family: 'Montserrat', sans-serif;   
}

#sortBy {
    text-align: center;
    background-color: var(--primary-color);
    border: 2px solid var(--text-line-input);
    border-radius: 7px;
    width: 10rem;
    height: 2rem;
    color: var(--text-line-input);
    margin-top: 10px;   
}

/*Barra de búsqueda*/

.search{
    font-size: 15px;
    text-align: center;
    width: 13rem;
    height: 2rem;
    background-color: var(--primary-color);
    border-radius: 7px;
    border-color: var(--text-line-input);
}

/* Mostrar la data */
#data-container {
    margin-top:30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* con gap puedo hacer que se muestren más o menos separados */
    gap: 30px;
    justify-content: center;
}

.film-container{
    position: relative;
    width: 220px;
    height: 360px;
    text-align: center;
    box-shadow: #817c63;
    transition: 0.3s;
    border-radius: 7px;
    padding: 20px;
    margin: 20px;
    background: #eeee108a;
}

.film-container .face{
    position: absolute;
    width: 220px;
    height: 360px;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.film-container .front{
    transform: perspective(600px)rotateY(0deg);
    box-shadow: 0 5px 10px rgba(0,0,0,2) 6px 20 px 0 rgba(0,0,0,19);
}

.film-container h4 h5{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: var(--primary-color);
    background: rgba(0,0,0,.4);
    text-align: center;
}

.film-container:hover {
    box-shadow: 0 8px 16px 0 #7b7b08;
}

.film-container .front img {
    width: 220px;
    border-radius: 7px;
    margin-top: 15px;
    margin-bottom: 10px;
    height: 270px;
}

.film-container .back {
    transform: perspective(600px) rotateY(180deg);
    background: #332222;
    padding: 5px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
    width: 210px;
    height: 360px;
}

.film-container .back h3 {
    font-size: 15px;
    margin-top: 15px;
    letter-spacing: 2px;
}

.film-container .back p {
    letter-spacing: 1px;
    font-size: 11px;
    text-align: center;
    margin-bottom: 80px; 
} 

.film-container:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.film-container:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

/* Sección 3 Characters */
.characters {
    color: var(--primary-color);
    display: none;
    background-image: url(img/fondo2.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.showData{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: -8px;
    /* con gap puedo hacer que se muestren más o menos separados */
    gap: 30px;
    justify-content: center; 
}

.character-container{
    position: relative;
    width: 220px;
    height: 360px;
    text-align: center;
    box-shadow: 0 4px 8px 0 #817c63;
    transition: 0.3s;
    border-radius: 7px;
    padding: 25px;
    margin: 20px;
    background: #eeee108a;
}

.character-container:hover {
    box-shadow: 0 8px 16px 0 whitesmoke;
}

.character-container img{
    margin-top: 10px;
    max-width: 150px;
}

.character-container h4{
    padding: 1px;
    font-size: 16px;
    color: #332222;
    text-align: center;
}

.character-container h5{
    padding: 1px;
    font-size: 15px;
    color: #332222;
    text-align: center;
}

.selector-character {
    text-align: center;
    color: #7b7b08;
    font-size: 23px;
    font-weight: bold;
    padding: 35px;
    font-family: 'Montserrat', sans-serif;   
}

#filterBy {
    font-size: 55%;
    text-align: center;
    background-color: whitesmoke;
    border: 2px solid #7b7b08;
    border-radius: 7px;
    width: 10rem;
    height: 2rem;
    color: #7b7b08;
    margin-bottom: 20px;   
}

/*estilo para el porcentaje*/

.female-percent,.male-percent {
    text-align: center;
    margin-left: 10px;
    margin-top:-50px;
    margin-bottom: 20px;
    color:#7b7b08;
    font-size: 20px;
}

/* links para redes sociales */
footer {
    background: var(--footer);
    text-align: center;
    padding: 10px;
    bottom: 0;
}

footer img {
    width: 45px;
    height: 45px;
    margin: 5px 10px;
}